html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 1.5;
  background-color: #fff;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h4 {
  margin: 20px 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: gray;
}

@media (max-width : 640px){
  h1{
    font-size: 2.1rem;
  }
  
  h4{
    font-size: 1.1rem;
  }
}

/* navbar */
.navbar {
  position: fixed;
}

.navbar-dark .navbar-toggler{
  font-size: 12px;
  background-color: #fec810;
  color: #fff;
}

.navbar-brand.brand {
  font-size: 1.7rem;
  font-family: Kaushan Script, Helvetica Neue, Helvetica, Arial, cursive;
  color: yellow;
}

.nav-list {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.nav li{
  float:left;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 15px;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #fec810;
  padding: 15px;
}

/* title */

.header-cont {
  text-align: center;
  padding: 280px 10px 180px 10px;
}

.header {
  color: #fff;
  text-align: center;
}

.header h2 {
  font-family: Droid Serif, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: italic;
  line-height: 1.2;
  font-size: 40px;
}

.header h1 {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2;
}

.header .btn {
  margin-top: 40px;
  padding: 20px 30px;
  background-color: #fec810;
  border-color: #fed136;
  transition: transform 100ms linear;
  color: black;
}

@media (max-width: 640px) {
  .header-cont {
    padding-top: 170px;
  }
}

@media (max-width: 640px) {
  .header h1 {
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 1.1;
  }
}

@media (max-width: 640px){
  .header .btn{
    padding: 18px 15px;
  }

  .header .btn a{
    font-size: 1.1rem;
  }
}

/* services */

#services {
  padding: 150px 0px;
}

.service-head {
  text-align: center;
}

.service-col .serv-desc-cont h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
}

.service-col .fas {
  font-size: 5.3rem;
  margin: 25px 0px;
  color: #fec810;
}

.service-col .fonticon :hover {
  transition: transform 50ms linear;
  transform: perspective(150px) translateZ(10px);
}

.service-col p {
  color: gray;
}

@media (max-width: 640px) {
  .service-col .serv-desc-cont p{
    font-size: 1.1rem;
  }

  #services {
    padding: 100px 0px;
  }
}

@media (max-width: 640px) {
  .service-col {
    padding: 15px;
  }

  .service-col .fas{
    margin: 18px 0px;
  }

  .serv-desc-cont{
    padding: 10px;
  }

  .serv-desc-cont h4{
    margin: 10px;
  }
}

/* portfolio */

#portfolio {
  padding: 150px 0px;
  background-color: #f7f7f7;
}

.port-cont {
  text-align: center;
}

.upper-row{
    margin-bottom: 0%;
}

.lower-row{
    margin-top: 3%;
}

.port-card{
  position: relative;
  z-index: auto;
}

.port-card h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0rem;
}

.port-card h4{
    margin-top: 0px;
}

.port-card .portfolio-link{
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

.port-card .card-hover{
position: absolute;
width: 100%;
height: 100%;
transition: all 0.4s ease;
background-color: #fec810;
opacity: 0;
}

.port-card .card-hover:hover{
  opacity: 0.9;
}

.card-hover .card-hover-content{
position: absolute;
text-align: center;
width: 100%;
height: 40px;
top: 35%;
font-size: 3rem;

}

@media (max-width: 640px){
  #portfolio{
    padding: 100px 0px;
  }
  
  .lower-row{
    margin-top: 8px;
  }

  .port-cont{
    padding: 25px;
  }

  .port-card {
    margin-top: 8px;
    padding: 5px;
  }

  .port-card h3{
    font-size: 1.35rem;
    font-weight: 600;
    margin-bottom: 0rem;
  }
}

/* team */
#team{
  padding: 100px 0px;
  text-align: center;
}

.team-member .card{
  padding-top: 15px;
}

.team-member img{
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4{
  color: black;
  font-size: 1.8rem;
  font-weight: 650;
}

/* clients */
#client-detail{
  padding: 48px 0px;
  border-bottom: 0.5px solid black;
}

/* contact */

#contact{
  background-color: black;
}

.contact-cont{
  text-align: center;
  padding: 150px 20px 150px 20px;
  color: #f7f7f7;
}

.contact-cont .form-group{
  padding: 10px;
}

.input-field.text{
  height: 60px;
}

.form-control::-webkit-input-placeholder{
  color: #a8a8a8;
}

.contact-button-div{
  text-align: center;
  padding: 20px 10px 10px 10px;
}

.contact-button-div .message-btn{
  font-size: 1.1rem;
  height: 70px;
  width: 180px;
  background-color: #fec810;
  color: #fff;
}

@media (max-width:640px){
  .contact-cont{
    text-align: center;
    padding: 130px 30px 100px 30px;
    color: #f7f7f7;
  }
  .contact-button-div{
    text-align: center;
    padding: 15px 10px 10px 10px;
  }
}

/* footer */

.footer-sect{
  padding: 15px 15px 0px 15px;
  background-color: rgb(39, 37, 37);
  color: #fff;
}

.foot-cont{
  padding: 0px 15px;
  text-align: center;
}

.copy-div{
  margin-top: 10px;
}

.footer-sect .icons{
  color: #fff;
}

footer span.copyright{
  font-size: 1rem;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
}

.terms-div{
  margin-top: 18px;
  text-align: center;
}

.terms-div a{
  color: #fec810;
  font-size: 1rem;
}

@media (max-width:640px){
  .terms-div{
    margin-top: 0px;
    text-align: center;
  }
  
  .footer-sect .social-icons{
    font-size: 30px;
    padding: 10px 0px 0px 0px;
    text-align: center;
   }

   footer{
     padding: 15px;
   }
}



/* Generic */

.row-detail {
  margin: 5% 0% 5% 0%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.img-spec{
  background-repeat: no-repeat;
  background-size: cover;
}

.btn:hover {
  background-color: #d1a50d;
  transform: perspective(100px) translateZ(5px);
}

.social-icons{
  font-size: 30px;
  padding: 10px;
  text-align: center;
 }

.icons{
  color: black;
  transition: all 0.3s ease;
}

.icons:hover{
  color: #fec810;
}